<!-- Banner -->
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <!-- <header> -->
            <h2>Building virtual experiences. For everyone.</h2>
        <!-- </header> -->
        <!-- <p>Ridgeline Labs</strong>, -->
        <!-- <br /> -->
        <!-- a game studio dedicated to building emotionally impactful  -->
        <!-- <br />  -->
        <!-- Virtual Reality experiences. -->
        <!-- </p> -->
        <footer>
            <ul class="buttons vertical">
                <li><a href="#main" class="button fit scrolly">Explore</a></li>
            </ul>
        </footer>

    </div>


</section>
<section id="cta">
                <header>
                    <h2>Ready to Play</h2>
                    <p>Ridgeline Labs Inc. has been accepted into <a href="http://playlabs.tv" target="_blank">Play Labs first VR accelerator batch!</a></p>
                </header>
                <footer>
                    <ul class="buttons">
                        <li><a href="#" class="button special">Read More</a></li>
                    </ul>
                </footer>

            </section> 
